
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;700&display=swap');
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color:#4E4E4E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main{
  font-family: 'Montserrat', sans-serif;
}

.text-large{
  font-size: 4rem;
}

.video-container {
  position: relative;

}

.video-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  font-size: 180px;
  background: linear-gradient(180deg, rgba(0, 89, 255, 0.7) 0%, rgba(2, 82, 230, 0.7) 35%, rgba(30, 64, 102, 0.7) 100%);
}

video {
  width: 100%;
}